---
title: Collection of Common Patterns of Markup and Style
---
<div class="app-panel">
  <h1 class="mbm">Common patterns of markup and style</h1>
  <div class="mbm">
    <iframe src="http://ghbtns.com/github-btn.html?user=alchapone&repo=patterns&type=watch&count=false&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=alchapone&repo=patterns&type=fork&count=false&size=large" height="30" width="170" frameborder="0" scrolling="0" style="width:170px; height: 30px;" allowTransparency="true"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://alchapone.github.io/patterns/" data-size="large" data-count="none">Tweet</a><script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
  </div>
  <p>This guide is created to share and describe how common frontend tasks can be handled with HTML/CSS and to share best practices
  across developers all over the world.</p>
  <p>This is a collection of interface patterns in HTML/CSS for frequently solved tasks. Don't spend much time on making up custom class name
  or finding the most flexible solution. Remember most of problems, you're cracking your head on right now, had been already solved by someone!</p>
  <p>Whether you are looking for a solution or for nice class name for your UI components - you've come to right place!</p>

  <p>This book can be used as a learning resource for Javascript training if you want, but please send a tweet recommending us to other people.</p>

  <p>I hope this guide will be helpful and will give you new ideas.</p>
  <p>Feedback is welcome.</p>
  <p>Checkout <a href="https://github.com/alchapone/patterns">Github repo</a> for issues or contribution.</p>

</div>
